:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --red: #d20e0e;
  --black: rgb(37, 37, 37);
  --std-size: 80%;
}
body {
  background-color: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (width < 785px) {
  :root {
    --std-size: 90%;
  }
}
